.companies {
    position: relative;
    display: flex;
    height: 100px;
    padding-left: 100px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto 15px;
    background: var(--background-color);
    border-bottom: 4px solid var(--main-color);
    /* border-top: 4px solid var(--main-color); */
}

@media (max-width: 765px) {
    .companies {
        /* flex-direction: column; */
        height: auto;
        gap: 5;
        padding: 20px;
        margin: 0 auto;
    }
}