.footer {
    background: var(--second-color);
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--footer-fonts-color);
}

.logoServiceWrapper {
    align-items: center;
    display: flex;
    width: 100%;
}

.logoWrapper {
    background: var(--main-color);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}


.service {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.schedule {
    justify-self: end;
    padding-right: 50px;
    width: 300px;
}

@media (max-width: 950px) {
    .footer {
        flex-direction: column;
        padding: 5px 25px;
    }

    .logoWrapper {
        width: 50px;
        height: 50px;
        padding-left: 15px;
    }
    .service {
        margin-left: 20px;
    }
    .schedule {
        padding-right: 0;
        display: none;
    }
    .footerLogo {
        width: 55px;
        height: 55px;
    }

}
