.header {
    width: 100%;
    height: 80px;
    background: var(--main-color);
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease-in;
    border: 3px solid var(--yellow);
}

.smallHeader {
    height: 60px;
}

.navigation {
    padding: 0 15px;
}

.navLink {
    margin: 0 10px;
    color: #fff;
}

.active {
    color: var(--yellow);
    margin: 0 10px;
}

.socialWrapper {
    display: flex;
}

.socialWrapper a {
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.hamburgerMenu {
    display: none;
}

.menuItem {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menuItem:hover {
    background-color: var(--yellow);
}

@media (max-width: 950px) {
    .hamburgerMenu {
        display: block;
     }

    .navigation {
        display: none;
    }

    .header {
        justify-content: end;
        padding: 0;
        flex-direction: row-reverse;
        /*height: 60px;*/
    }

}
